body {
background: url("../images/90sWallpaper.jpg");
font-family: 'Port Lligat Sans', sans-serif;
}

#content {
    background-color: yellow;
    color: rgb(47, 47, 206);
    font-size: 40px;
    text-align: center;
    width: 750px;
    position: absolute;
    top: 10%;
    left: 25%;
}

#questions {
    color: black;
    font-size: 25px;
}

#choices {
    color: black;
    font-size: 20px;
}